<html>
  <% include partials/head %>
  <body>
    <h1>Welcome, <%= user.email %>!</h1>
    <p>I see that you've signed in. Go ahead and click the button below!</p>
    <% if (user.pressedButton) { %>
      <button id='mybutton'>Click me!</button>
    <% } else { %>
      <button data-id="<%=button.id%>" data-userid="<%=user.id%>" class="clickable">Click me!</button>
    <% } %>
    <p> Times clicked: <%= button.numClicks %> </p>
  </body>
  <script>
    $('.clickable').on('click', () => {
      event.preventDefault();
      $(this).removeClass('clickable');
      var buttonid = $(event.currentTarget).data('id');
      var userid = $(event.currentTarget).data('userid');
      $.ajax({
        type: "POST",
        url: "/user/" + userid + "/push",
        data: { buttonid },
      }).done(location.reload());
    });
  </script>
</html>
