<html>
  <% include partials/head %>
  <body>
    <% include partials/background %>
    <% include partials/nav %>
    <div class="container">
      <h1>Welcome, <%= user.email %>!</h1>
      <p>You're all signed in. If you haven't done so yet, click the button below!</p>
      <% if (user.pressedButton) { %>
        <button class="fakeButton" id='mybutton'>Click me!</button>
      <% } else { %>
        <button class="clickable button" data-id="<%=button.id%>" data-userid="<%=user.id%>">Click me!</button>
      <% } %>
      <p> (Button clicked by <%= button.numClicks %> unique users)</p>
    </div>
  </body>
  <script>
    $('.clickable').on('click', () => {
      event.preventDefault();
      $(this).removeClass('clickable button');
      var buttonid = $(event.currentTarget).data('id');
      var userid = $(event.currentTarget).data('userid');
      $.ajax({
        type: "POST",
        url: "/user/" + userid + "/push",
        data: { buttonid },
      }).done(setTimeout(() => { location.reload() }, 200));
    });
  </script>
</html>
