<html>
  <% include partials/head %>
  <body>
    <h1>Welcome!</h1>
    <p>I see that you've signed in. Go ahead and click the button below!</p>
    <% if (user.pressedButton) { %>
      <p>You&aposve already pressed the button!</p>
    <% } else { %>
      <button>Click me!</button>
    <% } %>
  </body>
</html>
