<html>
  <% include partials/head %>
  <body>
    <% include partials/background %>
    <% include partials/nav %>
    <div class="container">
      <p>New user? Please register a new email:</p>
      <form action="/signup" method="post">
        <% if (flash) { %>
          <div class="flashMessage"><%= flash %></div>
        <% } %>
        <label>Email:</label>
        <input required name="email" id="email" type="email" placeholder="yourname@example.com">
        <label>Password:</label>
        <input required name="password" id="password" type="password" placeholder="password">
        <label>Repeat Password:</label>
        <input required name="passwordRepeat" id="passwordRepeat" type="password" placeholder="repeat password">
        <input type="submit" value="Submit" class="button">
      </form>
      <p>Already have an account? <a href="/signin">Sign in!</a><p>
    </div>

    <script>
      document.getElementById("passwordRepeat").onchange = validate;

      function validate() {
        var password = document.getElementById("password");
        var passwordRepeat = document.getElementById("passwordRepeat");
        console.log(password.value);
        console.log(passwordRepeat.value);
        if (password.value !== passwordRepeat.value) {
          console.log("PASSWORDS DO NOT MATCH");
          passwordRepeat.setCustomValidity("Passwords do not match.");
          return false;
        } else {
          passwordRepeat.setCustomValidity("");
          return true;
        }
      }
    </script>
  </body>
</html>
